/*div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

div.desc {
  padding: 15px;
  text-align: center;
}*/
.wrapper {
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
